h1 {
	font-family: 'El Rio Lobo';
	color:gold;
	text-align: center;
}

p {
	color:white;
}

h2 {
	font-family: 'El Rio Lobo';
	font-size: 60px;
}

.title {
	padding-top: 10px;
	padding-bottom: 30px;
	background-color:maroon;
}

.title p {
		text-align:center;
}

.cuzco {
	background-color:blue;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.imagen {
	background-image: url(../images/cuzco2.jpg);
	background-size: 100% auto;
	min-height: 300px;
	padding-top: 20px;
}

.imagen p {
	margin: 2px;
	font-size: 13px;
	text-align: right;
}

.imagen h1 {
	text-align: right;
}

.cierre {
	font-family: 'El Rio Lobo';
}

.cierre p {
	font-size: 50px; 
	color:black;
	text-align: center;
}